{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block body %}
    {% endblock %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{{request.path}}?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
    
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
        {% if page_obj.has_next %}
            <a href="{{request.path}}?page={{page_obj.next_page_number}}">next</a>
        {% endif %}
    {% endif %}


    {% if user.is_authenticated %}
        <p>hello user</p>
        <a href="{% url 'logout' %}"><button class="btn">fuckout</button></a>
    {% endif %}
    
</body>
</html>
