{% extends 'shared/site.html' %}
{% block title %}Renewal book{% endblock %}

{% block body %}


<h3>Renew: {{ book_ins.book.title }}</h3>
<p>Borrower: {{ book_ins.borrower }}</p>
<p>Current due: {{ book_ins.due_back }} {% if book_ins.is_overdue%} is overdue!{% endif %}</p>

    {% if form.errors %}
        {% for e, m in form.errors.items %}
            <p>{{e}}: {{m}}</p>
        {% endfor %}
    {% endif %}
    
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            <label for="renewaldate">{{ form.renewaldate.label }}:</label>
            {{ form.renewaldate }}
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}